/**
 * Foundation Variable Overrides
 */

$offcanvas-size: 300px;
$offcanvas-background: #fff;
$offcanvas-exit-background: rgba(#000, 0.25);
$titlebar-background: #333;
// $titlebar-color: #000;
// $titlebar-icon-color: #000;
// $titlebar-icon-color-hover: #333;
